* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #eee;
    font-family: 'Josefin Sans', sans-serif !important;
}

nav {
    background: rgb(48, 50, 52);
    position: fixed;
    height: 8vh;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: all 1s;
}

.main-body {
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.main-body-with-sidebar {
    margin-left: 60px;
}

label.logo {
    display: inline-flex;
}

.logo a {
    margin-left: 10%;
    text-decoration: none;
    color: white;
    font-size: 34px;
    letter-spacing: 5px;
}

.logo a:hover {
    text-decoration: none;
    color: white;
}

nav ul {
    float: right;
    display: flex;
    margin: 0;
    margin-right: 5%;
    height: 8vh;
}

nav ul li {
    list-style: none;
    height: 8vh;
}

nav ul li a p {
    display: inline-block;
    margin: 0 5px;
    border-radius: .8rem;
    letter-spacing: 2px;
    vertical-align: top;
    height: 8vh;
    padding-top: 2.4vh;
}

nav ul li a {
    font-size: 17px;
    text-transform: uppercase;
    padding: 0 13px;
    border-radius: 3px;
    color: rgb(226, 226, 226);
    height: 8vh;
}

nav ul li a:hover {
    color: lightblue;
}

.burger {
    display: none;
    cursor: pointer;
    float: right;
    margin-right: 3%;
    margin-top: 2vh;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-active {
    transform: translateX(10%);
    /* display: flex;
    transition: transform 0.5s ease-in; */
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media only screen and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }

    nav {
        background: rgb(48, 50, 52);
    }

    .logo img {
        width: 27vw;
    }

    nav ul {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: rgb(48, 50, 52);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(110%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        opacity: 0;
        margin: 20px;
    }

    nav ul li a:hover {
        color: rgb(48, 50, 52);
    }

    .burger {
        display: block;
    }
}

.container {
  width: 80%;
  margin: 20px auto;
}

.p {
  text-align: center;
  font-size: 14px;
  padding-top: 140px;
}

.graphs{
  margin: 30px 0px;
}

h2{
  margin: 20px;
  text-align: center;
}
