<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State wise analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/task3_a.css'%}">
</head>

<body>
    <nav>
        <label class="logo"> <a href="{% url 'api:home_page' %}">Covinfo</a> </label>
        <ul class="nav-links">
            <li><a href="{% url 'api:hospitals' %}">
                    <p>Hospitals</p>
                </a></li>
            <li><a href="{% url 'api:colleges' %}">
                    <p>Medical Colleges</p>
                </a></li>
            <li><a href="{% url 'api:charts' %}">
                    <p>Charts</p>
                </a></li>
            <li><a href="{% url 'api:contact_view' %}">
                    <p>Contact info</p>
                </a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="main-body">
        <div class="container">
          <div class="titles">
         <p>Total Number of Hospitals and Beds</p>
     </div>
     <div class="summary_section">

     </div>
     <div class="titles">
         <p>State-wise Analysis</p>
     </div>
     <div class="row">

     </div>
     <p class="sources"></p>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/task3_a.js' %}"></script>

</body>

</html>
